{% extends "table.html" %}
{% load static %}

{% block data %}
    <!-- Data Render -->
    {% for contact in contact_list %}
    <tr>
        <td><div class="img_container"><a href="https://{{ contact.cweb }}" target="_blank" alt="Company logo link to website"><img src="{% static '/img/link.png' %}" alt="Company Logo"></a></div></td>
        <td>{{ contact.cpersonel }}</td>
        <td>{{ contact.cemail }}</td>
        <td>{{ contact.cnumber }}</td>
        <td>{{ contact.cname }}</td>
        <td>{{ contact.caddress }}</td>
        <td>{{ contact.cdescription }}</td>
        <td>
            <div class="switch_container">
                <a class="btn_star btn_style"><span class="pulse material-symbols-outlined">star</span></a>
                <form action="{% url 'contact-delete' contact.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn_select_del btn_style"><span class="tilt material-symbols-outlined">delete</span></button>
                </form>
                <a href="{% url 'contact-update' contact.id %}" class="btn_select_edt btn_style"><span class="tilt material-symbols-outlined">edit</span></a>
            </div>
        </td>
    </tr>
    {% endfor %}
    <!-- Data Render -->
{% endblock %}