{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="table_container">
    <table>
        <thead>
            <tr>
                <th>Web link</th>
                <th>Personel</th>
                <th>Email</th>
                <th>Contact #</th>
                <th>Company Name</th>
                <th>Company Address</th>
                <th>Company Description</th>
                <th>Tooltab</th>
            </tr>
        </thead>
        <tfoot>
            <!-- Some footer, may add something here soon -->
            <tr>
                <td colspan="8" class="tfoot_container">
                    <div class="toolbar_container">
                        <a href="{% url 'contact-create' %}" class="btn_tools btn_style"><span class="pulse material-symbols-outlined">add</span></a>
                        <!-- Implement update -->
                        <div class="btn_tools switch_container">
                            <a class="btn_cancel_edt btn_style"><span class="pulse material-symbols-outlined">close</span></a>
                            <a class="btn_edt btn_style"><span class="tilt material-symbols-outlined">edit</span></a>
                        </div>
                        <!-- Implement delete -->
                        <div class="btn_tools switch_container">
                            <a class="btn_cancel_del btn_style"><span class="pulse material-symbols-outlined">close</span></a>
                            <a class="btn_del btn_style"><span class="tilt material-symbols-outlined">delete</span></a>
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
        <tbody>
            <!-- Insert events here -->
            {% block data %} <!-- Inserts module --> {% endblock %}
        </tbody>
    </table>
</div>
{% endblock %}