/* General definition */
html {
    font-size: 2.1vw;
}

* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color: #dabfff;
}
/* General definition */

footer {
    position: fixed;
    background-color: #8fc0a9;
    bottom: 0;
    padding: 5px;
}

#wrapper {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    background-color: #4f518c;
    z-index: 10;
}

.section {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    width: 100vw;
    height: clamp(3.4rem, );
}

.header > span {
    padding: 0.50vw;
    font-size: clamp(0.6rem, 1rem, 1.4rem);
}

.header, footer {
    background-color: #2c2a4a;
}

.header > span, .footer > a > i {
    color: #907ad6;
}

.body {
    font-size: clamp(0.1rem, 0.5rem, 0.9rem);
    width: 100vw;
    height: 90vh;
}

.footer {
    width: 100vw;
    height: clamp(0.31rem, 0.71rem, 1.11rem);
    text-align: center;
    justify-content: center;
    font-size: clamp(0.4rem, 0.8rem, 1.2rem);
}

.footer > a {
    padding: 5px;
}

.table_container, .body {
    height: 100vw;
}

table {
    width: 100%;
    border-spacing: 0.1px;
    padding: 2px;
}

tbody {
    height: 80px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tfoot_container {
    border-style: none;
}

th, tr, td {
    border-style: solid;
    border-width: 0.1px;
    border-color: #dabfff;
    /* background-color: #dabfff; */
    padding: 2px;
}

td {
    text-align: center;
}

td > div > a > img {
    width: 20px;
}

.img_container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
}

button {
    height: clamp(0.8rem, 1.2rem, 1.6rem);
    width: clamp(0.8rem, 1.2rem, 1.6rem);
    text-align: center;
    border-style: solid;
    border-radius: clamp(0.8rem, 1.2rem, 1.6rem);
    border-width: 0.1px;
    border-color: #907ad6;
    background-color: #2c2a4a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn_add_container {
    display: flex;
    justify-content: end;
    padding-right: 1%;
}

.material-symbols-outlined {
    font-size: clamp(0.4rem, 0.8rem, 1.2rem) !important;
}

/* Animation */

.pulse:hover {
    animation: pulse 0.5s;
}

@keyframes pulse {
    0% {
        font-variation-settings: 'wght' 100;
    }
    50% {
        font-variation-settings: 'wght' 700;
    }
    100% {
        font-variation-settings: 'wght' 100;
    }
}

.tilt:hover {
    transition: ease 0.2s;
    transform: rotate(25deg) translateZ(0);
}

.glow:hover {
    transition: ease-in-out 0.2s;
    color: #dabfff;
}

/* Animation */