/* General definition */
html {
    font-size: 1.8vw;
}

* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    color: #dabfff;
}
/* General definition */

table {
    border-collapse: collapse;
    width: 100%;
    font-size: clamp(0.1rem, 0.5rem, 0.9rem);
}

p {
    font-size: clamp(0.1rem, 0.5rem, 0.9rem);
}

form > textarea, form > input {
    min-width: 30vw;
    max-width: 30vw;
    border-style: solid;
    border-width: 0.1px;
    border-color: #dabfff;
    background-color: transparent;
    margin-bottom: 2%;
}

form > input {
    min-height: clamp(0.3rem, 0.8rem, 1.1rem);
    max-height: clamp(0.3rem, 0.8rem, 1.1rem);
}

form > textarea {
    min-height: clamp(0.9rem, 2.4rem, 3.3rem);
    max-height: clamp(0.9rem, 2.4rem, 3.3rem);
}

form {
    display: flex;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 0.2rem;
}

#wrapper {
    align-items: center;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    background-color: #4f518c;
    z-index: 0;
}

.section {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    width: 100vw;
    height: clamp(2.0rem, 2.4rem, 2.8rem);
    font-size: clamp(0.6rem, 1rem, 1.4rem);
    margin-bottom: 2%;
}

.header > div {
    padding: 0.50vw;
    display: flex;
    align-items: center;
}

.header, footer {
    background-color: #2c2a4a;
}

.header > span, .footer > a > i {
    color: #907ad6;
}

.body {
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: auto;
}

.footer {
    width: 100vw;
    height: clamp(0.31rem, 0.71rem, 1.11rem);
    text-align: center;
    justify-content: center;
    font-size: clamp(0.4rem, 0.8rem, 1.2rem);
}

.footer > a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


.divider {
    height: clamp(0.15rem, 0.4rem, 0.55rem);
    margin-bottom: clamp(0.15rem, 0.4rem, 0.55rem);
    border-style: none;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #2c2a4a;
}

tbody {
    height: 80px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tfoot_container {
    border-style: none;
    position: sticky;
    bottom: 0;
}

.table_container {
    width: 90vw;
    height: 90vh;
}

th {
    text-wrap: nowrap;
    position: sticky;
    top: 0;
    background-color: #2c2a4a;
}

td {
    text-wrap: wrap;
    word-wrap: break-word;
}

th, tr, td {
    padding: 0.3rem;
}

table tbody tr:nth-of-type(even) {
    background-color:#40427d;
}

table tbody tr:nth-of-type(odd) {
    background-color:#363872;
}

td {
    text-align: center;
}

img, .img_container {
    height: clamp(0.8rem, 1.2rem, 1.6rem);
}

.switch_container {
    height: clamp(0.9rem, 1.3rem, 1.7rem);
    display: grid;
    justify-items: center;
    align-items: center;
  }
  
.switch_container > * {
    grid-column-start: 1;
    grid-row-start: 1;
}

a, u {
    text-decoration: none !important;
}

.img_container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.btn_style {
    height: clamp(0.8rem, 1.2rem, 1.6rem);
    width: clamp(0.8rem, 1.2rem, 1.6rem);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.4rem, 0.8rem, 1.2rem);
    border-style: solid;
    border-radius: clamp(0.8rem, 1.2rem, 1.6rem);
    border-width: 2px;
    border-color: #907ad6;
    background-color: #2c2a4a;
}

.btn_style > span {
    text-align:center;
}

.btn_style:hover, .btn_style:focus {
    text-decoration: none;
    cursor: pointer;
}

.toolbar_container {
    display: flex;
    justify-content: end;
    margin: 1%
}

.btn_tools {
    margin-right: 1%;
}

.search_f_style {
    border-style: none;
    background-color: transparent;
    outline: none;
    width: 0;
    transition: 0.4s;
}

.btn_ser {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: transparent;
}

.search_box {
    transition: 0.4s;
}

.search_box:hover {
    width: 23vw;
}

.search_box:hover > .search_f_style {
    display: flex;
    width: 20vw;
}

.material-symbols-outlined {
    font-size: clamp(0.4rem, 0.8rem, 1.2rem) !important;
}

/* Animation */

.pulse:hover {
    animation: pulse 0.5s;
    transition: ease 0.2s;
    transform: scale(1.1, 1.1);
}

@keyframes pulse {
    0% {
        font-variation-settings: 'wght' 100;
    }
    50% {
        font-variation-settings: 'wght' 700;
    }
    100% {
        font-variation-settings: 'wght' 100;
    }
}

.tilt:hover {
    transition: ease 0.1s;
    transform: rotate(25deg) translateZ(0) scale(1.1, 1.1);
}

.glow:hover {
    transition: ease-in-out 0.1s;
    color: #dabfff;
}

/* Animation */